<div class="col-xs-12 pagination">
    <div class="col-xs-3 col-sm-1 col-sm-offset-4">
      {{#if prevIsPossible}}
      <p class="pagination-nav-elemnt"{{ action 'prevPage' }}>
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      </p>
      {{/if}}
    </div>
    <div class="col-xs-6 col-sm-2 pagination-info">
      <p>Seite {{ currentPage }}/{{ maxPages }}</p>
    </div>
    <div class="col-xs-3 col-sm-1">
      {{#if nextIsPossible}}
      <p class="pagination-nav-elemnt"{{ action 'nextPage' }}>
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      </p>
      {{/if}}
    </div>
</div>
{{#each question in questions }}
<div class="row">
  <div class="col-xs-12">
      <div class="question-text">
        <p>{{ question.text }}</p>
      </div>
  </div>
</div>
{{/each}}
